.head {
    background-color:#ffa700;
    height: 100px;
    width: 100%;
}

#right {
    float: right;
    margin-right: 20px;
}

#left {
    margin-left: 20px;
}

#description {
    margin-left: 10px;
    /* font-style: italic; */
    color: #c1c1c1;
}

.bigCard {
    padding: 10px;
    margin: 20px;
    border: 1px solid black;
}

.bigCard img {
    width: 200px;
    height: 140px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

#address {
    color: gray;
    font-size:small;
    line-height:0px;
}

#like {
    text-align: right;
    float: right;
}

#star {

}

#price {
    text-align: right;
    color: gray;
}

.smallCard1, .smallCard2 {
    padding: 10px;
    margin: 20px;
    border: 1px solid black;
}

.smallCard1 img {
    width: 50px;
    height: 50px;
    float: left;
    margin: 5px;
}

.smallCard2 {
    line-height:2px;
}

.smallCard2 img {
    width: 20px;
    height: 20px;
    float: left;
    margin: 5px;
}

#minute {
    float: right;
    color:gray;
}

#comment {
    float: right;
}

#heart {
    float: right;
    margin-right: 5px;
}

#category {

}